body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 2.5rem;
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 2rem;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color:crimson
}

.para1 {
    color:pink;
}

.para2 {
    color:chartreuse;
}

.para3 {
    color:blueviolet;
    background-color: bisque;
}

.jumps {
    color:#d5b96a;
    background-color: darkgreen;
}

.pics {
    border-width: 2px;
    border-color: red;
    border-style: solid;
    border: solid 2px red;
    display: flex;
    flex-direction: column;
    background-color: #bbd7ff;
    align-content: center;
    align-items: center;
}

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navitem {
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    font-size: 8px;
    width: 22%;
    justify-content: space-evenly;
    color:darkblue;
    background-color: bisque;
    border-radius: 10px;
    text-decoration: none;

}

a {
    color:darkblue;
    text-decoration: none;

}

a:visited {
    color: darkblue;
}

#apics1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid pink;
}